kind: Deployment
apiVersion: apps/v1
metadata:
  name: nginx-deployment
  labels:
    app: deployment
spec:
  replicas: 3
  selector:
    matchLabels: 
      app: deployment
  template:
    metadata:
      labels:
        app: deployment
    spec:
      containers:
        - name: my-container
          image: nginx:latest
          ports:
            - containerPort: 80
